:root {
	--yellow: #cc8f00;
}

body {
	background-color: #1f1e1e;
	/* background-color: #005c33;
	background-image: url('./felt.png'); */
}

.pointer {
	cursor: pointer;
}

.humbleicons {
	width: 1.2em;
	height: 1.2em;
	display: inline-block;
	align-self: center;
	vertical-align: middle;
	margin-top: -0.1em;
}

/* d-flex h-100 w-100 justify-content-center align-items-center flex-column */
.game-center {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 999999;
}
